body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain{
    border: 2px solid black;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

#box {
    width: 100px;
    height: 100px;
    background: red;
    transition: transform 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxl:hover{
    transform: rotate(-180deg);
}
.boxr:hover{
    transform: rotate(180deg);
}