body{   
    background-color: black;
    display: flex;
    padding: 50px;

}

.container{
    background-color: rgb(190, 190, 236);
    border: 3px solid rgb(110, 106, 106);
    margin: auto;
    width: 200vh;
    height: 80vh;
    display: flex;
    
    
}
.text{
   display: inline-block;
    margin: auto;
      
}
#area{
    background-color: rgb(253, 250, 250);
    color:blue;
}
#counter{
   display: inline-block;
   margin: 4px;
   padding: 4px;
   border: 2px solid wheat;
}